#new-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: left;
  width: fit-content;
}

#new-form div label {
  display: inline-block;
  width: 100px;
}

#new-form div input {
  width: 200px;
}

.link {
  text-decoration: none;
  font-size: 1.1em;
}