.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: left;
  width: fit-content;
}

.delete-button {
  background: red;
  color: white;
  border: 1px solid gray;
  cursor: pointer;
  height: 30px;
  width: 90px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 20px;
}

.link {
  text-decoration: none;
  font-size: 1.1em;
}